body {
    font-family: 'Roboto', sans-serif;
}

#navbar {
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 100%); 
}

h1, h2, h3, h4 {
    font-family: 'New Rocker', cursive;
}

a:hover {
    font-family: 'New Rocker', cursive;
}

@media only screen and (min-width : 800px) {
    body {
        background-image: url(./image/Paris.jpg);
        background-size: cover;
    }    
}